/* styles.css */
body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background: #032d58;
  color: white;
  padding: 1rem;
}

.login-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.login-form {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  width: 300px;
}

.login-form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.login-form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #004080;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button:hover {
  background: #0066cc;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

footer {
  text-align: center;
  margin-top: 50px;
  color: #666;
}

a{
  text-decoration: none;
  color: inherit;
}

.error {
    display: block;
    color: red;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.input-error {
    border: 1px solid red;
}